<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="tests/unit/bootstrap.php" colors="false">
	<testsuites>
		<testsuite name="MOOTOMBO!AppOS - Theme">
			<directory>tests/unit</directory>
		</testsuite>
		<testsuite name="includes">
			<directory>tests/unit/includes</directory>
		</testsuite>
		<testsuite name="templates">
			<directory>tests/unit/templates</directory>
		</testsuite>
	</testsuites>

	<logging>
		<log type="coverage-html" target="build/coverage" title="MTB-Core" charset="UTF-8" yui="true" highlight="true" lowUpperBound="35" highLowerBound="70" />
		<log type="coverage-clover" target="build/logs/clover.xml" />
		<log type="junit" target="build/logs/junit.xml" logIncompleteSkipped="false" />
	</logging>

	<filter>
		<whitelist addUncoveredFilesFromWhitelist="true">
		</whitelist>
	</filter>
</phpunit>
